$nav-button-color: #00838F;

$color-black: #000;
$color-blue: #0e91c7;
$color-light-blue: #0eabea;
$color-blue-menu: #0f92c8;
$color-green: #55b397;
$color-grey-dark: #808080;
$color-grey-header-bg: #ededed;
$color-grey: #74cec9;
$color-grey-bg: #f3f3f3;
$color-light-grey: #87eee9;
$color-red: #c26b6b;
$color-white: #ffffff;
$color-text-grey: #838383;
$color-drop-bg: #8fc0c0;
$color-drop-line: #d7d7d7;
