<div class="login-container">
  <div class="overlay-dark"></div>
  <form #loginForm class="form-container shadow" name="loginForm" (submit)="authenticate(cred)">
    <div class="form-content">
      <img src="assets/img/logo.png" alt="Flexicontrol" class="form-logo">
      <mat-form-field>
        <input matInput [(ngModel)]="cred.username" name="username" placeholder="Username:" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="cred.password" name="password" placeholder="Password:" type="password" autocomplete="new-password">
      </mat-form-field>
      <button
        mat-button
        color="accent"
        type="submit"
        class="btn btn-wide center-block"
        [disabled]="!cred.username || !cred.password"
      >
        LOGIN
      </button>
    </div>
  </form>
</div>
