<div class="content-overlay" (click)="openMenu()" [ngClass]="{'content-overlay-opened':navOpened}"></div>
<div class="side-menu-container" [ngClass]="{'side-menu-opened':navOpened}">
  <div class="sidenav-header">
    <span>MENU</span>
    <button mat-button (click)="openMenu()">Close <mat-icon>close</mat-icon></button>
  </div>
  <div class="sidenav-subheader">IHCS Web Site</div>
  <div class="sidenav-subheader bg-grey-light">Installation</div>
  <div class="example-events tree-container">
    <tree-root
      class="tree"
      [nodes]="nodes"
      [options]="options"
      (toggleExpanded)="onTreeEvent($event)"
      (activate)="onTreeEvent($event)"
    ></tree-root>
  </div>
</div>
<div class="main-container" [ngClass]="{'main-container-narrow':navOpened}">

  <div class="nav-menu shadow-light" [ngClass]="{'nav-menu-narrow':navOpened}">
    <button
      mat-button
      type="button"
      class="btn btn-nav pull-left"
      (click)="openMenu()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <button
      mat-button
      type="button"
      class="btn btn-nav pull-left"
    >
      <img src="assets/img/logo.png" alt="Flexicontrol" class="nav-logo pull-left">
    </button>
    <button
      *ngIf="state._state.activeRoute.reference"
      mat-button
      type="button"
      class="btn btn-nav btn-logout pull-left"
      (click)="goTo(state._state.activeRoute.reference)"
    >
      <mat-icon class="material-icons">arrow_back</mat-icon>
      Back
    </button>
    <button
      *ngIf="state._state.activeRoute.path[0] === '/home'"
      mat-button
      type="button"
      class="btn btn-nav btn-logout pull-left"
      (click)="goTo('log-book')"
    >
      <!--<span class="menu-icon-container"><img src="assets/img/hamburger.svg"></span>-->
      Log Book
    </button>
    <button
      *ngIf="state._state.activeRoute.path[0] === '/home'"
      mat-button
      type="button"
      class="btn btn-nav btn-logout pull-left"
      (click)="goTo('settings')"
    >
      <!--<span class="menu-icon-container"><img src="assets/img/settings-gear.svg"></span>-->
      Settings
    </button>

    <span class="nav-title">{{state._state.activeRoute.pathTitle}}</span>
    <button
      mat-button
      type="button"
      class="btn btn-nav btn-logout pull-right"
      (click)="logOut()"
    >
      <mat-icon class="material-icons">exit_to_app</mat-icon>
      Logout
    </button>
    <div class="nav-username pull-right">
      <div>Logged as:</div>
      <div>{{state._state.username}}</div>
    </div>
  </div>

  <main>
    <!--<div class="actions-container pull-right text-right" *ngIf="state._state.activeRoute.path[0] === '/home'">-->
      <!--<button-->
        <!--mat-button-->
        <!--type="button"-->
        <!--class="btn btn-nav btn-logout"-->
        <!--(click)="goTo('log-book')"-->
      <!--&gt;-->
        <!--<span class="menu-icon-container"><img src="assets/img/hamburger.svg"></span>-->
        <!--Log Book-->
      <!--</button>-->
      <!--<button-->
        <!--mat-button-->
        <!--type="button"-->
        <!--class="btn btn-nav btn-logout"-->
        <!--(click)="goTo('settings')"-->
      <!--&gt;-->
        <!--<span class="menu-icon-container"><img src="assets/img/settings-gear.svg"></span>-->
        <!--Settings-->
      <!--</button>-->

    <!--</div>-->
    <router-outlet></router-outlet>
  </main>
</div>
