<h1 mat-dialog-title>{{'dialog.log.title' | translate}}: {{data.name}}</h1>
<div mat-dialog-content>
  <mat-divider></mat-divider>
  <div class="dialog-content-padded">
    <span class="dialog-content-subheader">{{'dialog.log.log_on_off' | translate}}</span>
    <mat-slide-toggle [(ngModel)]="data.enabled"></mat-slide-toggle>
  </div>
  <mat-divider></mat-divider>
  <div class="dialog-content-padded" *ngIf="data.enabled">
    <span class="dialog-content-subheader">{{'dialog.log.log_method' | translate}}</span>
    <div class="text-center">
      <mat-radio-group [(ngModel)]="data.method">
        <mat-radio-button value="0">On Change</mat-radio-button>
        <mat-radio-button value="1">On Time</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <mat-divider *ngIf="data.enabled"></mat-divider>
  <div class="dialog-content-padded" *ngIf="(data.method === '1' || data.method === 1) && data.enabled">
    <span class="dialog-content-subheader">{{'dialog.log.log_interval' | translate}}</span>
    <div>
      <button
        mat-button
        type="button"
        class="btn btn-log-interval shadow-btn"
        *ngFor="let interval of data.logIntervals"
        [ngClass]="{'btn-log-interval-selected': data.period === interval}"
        tapable
        (click)="data.period = interval"
      >
        {{interval}} min
      </button>
    </div>
    <div class="custom-interval-checkbox">
      <mat-checkbox [(ngModel)]="data.customInterval">
        Custom <input class="input-number" matInput type="number" step="1" min="1" max="999" [(ngModel)]="data.period">
      </mat-checkbox>
    </div>
  </div>
  <mat-divider *ngIf="data.enabled"></mat-divider>
  <div class="dialog-content-padded" *ngIf="data.enabled">
    <span class="dialog-content-subheader">{{'dialog.log.view_options' | translate}}</span>
    <div class="text-center">
      <div class="relative">
        <label for="logGain">{{'general.gain' | translate}}</label>
        <input class="input-number" matInput type="number" step="0.1" min="0.1" max="999" [(ngModel)]="data.gain" id="logGain">
      </div>
      <div class="relative">
        <label for="logOffset">{{'general.offset' | translate}}</label>
        <input class="input-number" matInput type="number" step="0.1" min="0" max="999" [(ngModel)]="data.offset" id="logOffset">
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions class="text-center">
  <button class="btn-grey" mat-button (click)="onNoClick()">{{'general.cancel' | translate}}</button>
  <button class="btn-green" mat-button [mat-dialog-close]="data" cdkFocusInitial>{{'general.save' | translate}}</button>
</div>
