<h1 mat-dialog-title>{{'dialog.manage_groups.title' | translate}}</h1>
<div mat-dialog-content>
  <mat-divider></mat-divider>
  <div class="dialog-content-padded">
    <mat-form-field>
      <input matInput [(ngModel)]="data.groupName" [placeholder]="'dialog.manage_groups.group_name' | translate">
    </mat-form-field>
    <button
      mat-button
      [disabled]="!data.groupName"
      type="button"
      class="btn btn-transparent pull-right"
      (click)="addGroup(data.groupName)"
    >
      + Add Group
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="dialog-content-list-padded">
    <!--<mat-selection-list #groupItems (selectionChange)="data.groupsSelected = groupItems.selectedOptions">-->
      <!--<mat-list-option *ngFor="let groupItem of data.groupsList">-->
        <!--{{groupItem}}-->
      <!--</mat-list-option>-->
    <!--</mat-selection-list>-->
    <mat-list role="list">
      <mat-list-item *ngFor="let groupItem of data.groupsList" role="listitem">{{groupItem}} <mat-icon class="mat-icon-absolute" tapable (click)="remove(groupItem)">close</mat-icon></mat-list-item>
    </mat-list>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions class="text-center">
  <button class="btn-grey" mat-button (click)="onNoClick()">{{'general.cancel' | translate}}</button>
  <button class="btn-green" mat-button [mat-dialog-close]="data.groupsSelected" cdkFocusInitial>{{'general.save' | translate}}</button>
</div>
