<h1 mat-dialog-title>{{'dialog.group_settings.title' | translate}}</h1>
<div mat-dialog-content>
  <mat-divider></mat-divider>
  <div class="dialog-content-padded">
    <span class="dialog-content-subheader">{{data.datimDay || '1.DATIM_DAY'}}</span>
  </div>
  <mat-divider></mat-divider>
  <div class="dialog-content-list-padded">
    <mat-selection-list #groupItems (selectionChange)="data.groupsSelected = groupItems.selectedOptions">
      <mat-list-option *ngFor="let groupItem of data.groupsList">
        {{groupItem}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions class="text-center">
  <button class="btn-grey" mat-button (click)="onNoClick()">{{'general.cancel' | translate}}</button>
  <button class="btn-green" mat-button [mat-dialog-close]="data.groupsSelected" cdkFocusInitial>{{'general.save' | translate}}</button>
</div>
